---
import Layout from '../layouts/Layout.astro';
import Preact from '../components/Preact';
import '../base.css';
import Solid from '../components/Solid';
import Svelte from '../components/Svelte.svelte';
---

<Layout title="Welcome to Astro.">
	<main class="container mx-auto my-10">
		<div class="grid grid-cols-2 gap-8">
			<Preact client:idle />
			<Solid client:idle />
			<Svelte client:idle />
		</div>
	</main>
</Layout>
